name: CD workflow

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  id-token: write
  attestations: write
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      
      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      
      - name: Install dependencies
        run: poetry install --no-root

      - name: Build project
        run: poetry build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: dist/

      - name: Generate SBOM
        run: python -m cyclonedx_py venv -o cyclonedx-sbom.json

      - name: Attest SBOM
        uses: actions/attest-sbom@v3
        with:
          subject-path: dist/rekor_verification-*.whl
          sbom-path: cyclonedx-sbom.json

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}