name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Check code formatting
        run: poetry run ruff check .

      - name: Run lint checks
        run: poetry run flake8 ./rekor_verification
      
      - name: Scan for vulnerabilities
        run: poetry run bandit -r ./rekor_verification
      
      - name: Scan for secrets
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown

      - name: Run tests with coverage
        run: PYTHONPATH=. poetry run pytest --cov=. --cov-report=term

      - name: Generate tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version=$(python -c "
            import tomllib
            with open('pyproject.toml', 'rb') as f:
              print(tomllib.load(lib)['project']['version'])
          ")
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag "v$version"
          git push origin "v$version"